@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

:root {
    --background: #1E1C21;
    --red: #C31616;
    --blue: #001F70;
    --font-p: 'Roboto', sans-serif;;
    --font-s: 'Titillium Web', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    background: var(--background);
    width: 100vw;
    height: 5em;
}

.content {
    /* background-color: yellow; */
    width: 100%;
    max-width: 75em;
    height: 100%;
    margin: auto;
}

img {
    width: 100%;
    max-width: 21.18em;
}

.menu {
    width: 100%;
    max-width: 40em;
}

.menu ul {
    list-style-type: none;
}

ul a {
    color: white;
    font-size: 1.25em;
    font-family: var(--font-s);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

ul a:hover {
    /* background-color: var(--red); */
    text-shadow: white 0 0 2.5em; 
    transition: 0.40s;
}

.menu-bars {
    color: white;
    display: none;
}

.banner {
    background-image: linear-gradient(to right, var(--red) , black);
    width: 100vw;
    height: 35em;
}

.content-banner {
    /* background-color: yellow; */
    width: 75em;
    height: 100%;
    margin: auto;
}
@media screen and (max-width: 74.93em) {
    body {
        background-color: var(--blue);
    }
}

@media screen and (max-width: 61.93em) {
    body {
        background-color: var(--red);
    }
}

@media screen and (max-width: 47.93em) {
    body {
        background-color: var(--blue);
    }
}

@media screen and (max-width: 36em) {
    body {
        background-color: var(--red);
    }
}