@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap');

:root {
    --background: #1E1C21;
    --red: #C31616;
    --blue: #001F70;
    --font-p: 'Roboto', sans-serif;;
    --font-s: 'Titillium Web', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center-ar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-top {
    background: var(--background);
    width: 100%;
    max-width: 100%;
    height: 5em;
}

.content {
    /* background-color: yellow; */
    width: 100%;
    max-width: 75em;
    height: 100%;
    margin: auto;
}

img {
    width: 100%;
    max-width: 21.18em;
}

.menu {
    width: 100%;
    max-width: 40em;
}

.menu ul {
    list-style-type: none;
}

.menu ul a {
    color: white;
    font-size: 1.25em;
    font-family: var(--font-s);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.menu ul a:hover {
    /* background-color: var(--red); */
    text-shadow: white 0 0 2.5em; 
    transition: 0.40s;
}

.menu-bars {
    color: white;
    display: none;
}

.banner {
    background-image: linear-gradient(to right, var(--red) , black);
    width: 100%;
    max-width: 100%;
    height: 35em;
}

.content-banner {
    /* background-color: yellow; */
    width: 75em;
    height: 100%;   
    margin: auto;
    display: flex;
    align-items: center;
}

.content-banner img {
    width: 100%;
    max-width: 40em;
    height: auto;
}

.content-banner .text-banner {
    /* background-color: yellowgreen; */
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-banner h1 {
    font-family: var(--font-s);
    font-size: 80px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}

.text-banner p {
    font-family: var(--font-p);
    font-size: 24px;
    color: white;
    padding-top: -20px;
    padding-bottom: 50px;
}

.text-banner a{
    background-color: var(--red);
    color: white;
    font-size: 24px;
    font-family: var(--font-s);
    font-weight: bold;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.text-banner a:hover {
    box-shadow: black 0 0 40px;
    text-shadow: white 0 0 20px;
}

.aba-logos {
    background-color: black;
    width: 100%;
    max-width: 100%;
    height: 80px;
}

.lista-logos {
    /* background-color: lawngreen; */
    width: 75em;
    height: 100%;
    margin: auto;
}

.aba-logos ul {
    list-style-type: none;
}

.aba-logos li img {
    width: 100%;
    max-width: 20em;
    height: auto;
}

.about {
    background-color: var(--blue);
    width: 100%;
    max-width: 100%;
    height: 31.25em;
    display: flex;
    align-items: center;
}

.angulation {
    background-color: black;
    width: 100%;
    height: 25em;
    transform: skewY(-2deg);
    position: relative;
}

.container-about {
    /* background-color: indigo; */
    position: absolute;
    width: 100%;
    height: 25em;
    display: flex;
}

.content-about {
    width: 75em;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-about .txt-about{
    width: 30em;
    height: 18,25em;
}

.txt-about h2 {
    font-family: var(--font-p);
    font-size: 2,18em;
    font-weight: bold;
    color: white;
}

.txt-about p {
    font-family: var(--font-p);
    font-size: 1,12em;
    color: white;
    padding-top: 1em;
}

.container-about img {
    max-width: 30em;
    height: auto;
}

/*  */

.aba-matches {
    width: 100%;
    max-width: 100%;
    height: 7.5em;
    background-color: black
}

.content-aba-matches {
    width: 81.25em;
    height: 100%;
    /* background-color: var(--background); */
    justify-content: space-between;
}

.matches-aovivo, .matches-embreve {
    /* background-color: violet; */
    color: #fff;
    display: flex;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.matches-aovivo h2, .matches-embreve h2 {
    font-size: 1.875em; /*30px*/
    font-family: var(--font-p);
    font-weight: bolder;
}

.partida1, .partida2 {
    /* background-color: yellow; */
    width: auto;
    height: auto;
    font-size: 1.5em; /*30px*/
    font-family: var(--font-p);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.5em;
}

.partida1 img, .partida2 img {
    /* background-color: var(--red); */
    width: 2em;
    height: auto;
}

.partida1 p, .partida2 p {
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.time1, .time2 {
    /* background-color: var(--blue); */
    display: flex;
    align-items: center;
}

.linev {
    height: 2.5em;
    border-right: solid 1px #fff;
    margin-right: 5em;
    margin-left: 4em;
}

/*  */

.news {
    background-color: var(--background);
    width: 100%;
    max-width: 100%;
    height: auto;
}


.content-news {
    /* background-color: chocolate; */
    width: 75em;
    height: 100%;
    margin: auto;
    padding-bottom: 2em;
    display: flex;
}

.content-card-news{
    /* background-color: chartreuse; */
    width: 70%;
    height: 100%;
}

.content-card-news h2 {
    font-family: var(--font-p);
    font-size: 2,5625em;
    color: white;
    padding: 1em 0;
}

.bloco-news {
    /* background-color: var(--red); */
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-news {
    width: 14.81em;
    height: 22.75em;
    background-image: linear-gradient(white, black);
    box-shadow: 0 0 25px rgb(124, 124, 124);
    margin-bottom: 2em;
}

.card-news h3 {
    font-size: 0,512em;
    font-family: var(--font-p);
    text-transform: uppercase;
    color: white;
    padding: 0.25em 1em;
}

.card-news p {
    color: white;
    padding: 0.25em 1.15em;
}

.aside-news {
    /* background-color: cornflowerblue; */
    width: 20%;
    height: auto;
    margin: auto;
}

.aside-news h2 {
    /* background-color: indianred; */
    color: white;
    font-family: var(--font-p);
    font-size: 1.5em;
    padding: 1em 0;
    display: flex;
    justify-content: center;
}

.content-aside-news {
    background-image: linear-gradient(black, grey, black);   
    height: 87.5%;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    box-shadow: 0 0 20px black;
}

.next-match {
    /* background-color: red; */
    width: 100%;
    height: 2.81em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.next-match p { 
    font-size: 1.25em;
    text-transform: uppercase;
    color: #fff;
}

.next-match img  {
    max-width: 2.5em; 
    height: auto;
}

.data {
    /* background-color: grey; */
    width: 7.9em;
    height: auto;
    margin: 0 auto;
    margin-top: 0.5em;
    margin-bottom: 3em; 
}

.data p {
    font-size: 1.2em;
    color: white;
}

/* FIM NEWS */

.rodape {
    background-color: black;
    width: 100%;
    max-width: 100%;
    height: 13em;
    display: flex;
}

.content-rodape {
    /* background-color: indianred; */
    width: 75em;
    height: 100%;
    margin: auto;
    display: flex;
}

.access-links {
    /* background-color: indigo; */
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.access-links h3 {
    font-size: 1.5em; /* 24px */
    font-family: var(--font-s);
    color: white;
    padding: 0.7em 0;
}

.access-links ul {
    padding: 1em 1em;
    font-size: 0.87em;
    color: white;
}

.access-links a {
    font-size: 0.87em;
    font-family: var(--font-s);
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.logo-rodape {
    /* background-color: lawngreen; */
    width: 33%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
}

.logo-rodape img{
    width: 19,05em;
    height: auto;
    margin: auto;
}

.midia-rodape {
    width: 33%;
    height: 100%;
}

.content-midia {
    /* background-color: royalblue; */
    width: 100%;
    height: 100%;
    font-size: 0.875em;
    color: white;
    padding: 2.5em 3em;
}

.content-midia {
    font-size: 0.875em;
    color: white;
}

.sign-in {
    display: flex;
    margin-top: 1em;
}

.email-rodape {
    width: 12.4em;
    height: 2.3125em;
}

.email-rodape::placeholder {
    font-size: 1.5em;
}

.button-cadastro {
    width: 12.4em;
    height: 2.3125em;
    background-color: #8326EF ;
}

.button-cadastro[type="submit"] {
    color: white;
    font-family: var(--font-s);
}

.social-rodape {
    /* background-color: yellow; */
    width: 21.9375em;
    height: auto;
    display: flex;
    margin-top: 2em;
}

.social-rodape p {
    font-size: 1.5em;
    font-family: var(--font-s);
    font-weight: bold;
    color: white;
}

.social-rodape img {
    width: 2.916em;
    height: auto;
    margin-left: 1em;
}

/* até 1200px */
@media screen and (max-width: 74.93em) {

    .header-top {
        padding-bottom: 6em;
        padding-top: 2em;
    }

    .menu {
        margin-top: 1em;
    }

    .content {
        width: 61em;
        display: flex;
        flex-direction: column;
    }

    .content-banner {
        width: 61em;
    }

    .content-banner img {
        max-width: 31em;
    }

    .text-banner h1{
        font-size: 4.2em;
    }

    .lista-logos {
        width: 61em;
    }

    .aba-logos li img {
        width: 9em;
    }

    .content-about {
        width: 61em;
    }

    .content-aba-matches {
        width: 61em;
    }

    .matches-aovivo h2{
        font-size: 1.5em;
    }

    .partida1 {
        font-size: 1.3em;
    }

    .partida2 {
        font-size: 1.3em;
    }

    .matches-embreve {
        width: 54.5%;
    }

    .matches-embreve h2 {
        font-size: 1.5em;
    }

    .linev {
        margin-right: 2em;
        margin-left: 1em;
    }

    .content-news {
        width: 61em;
    }

    .content-aside-news {
        width: 14.375em;
    }

    .card-news {
        width: 13.81em;
    }

    .content-rodape {
        width: 61em;
    }

    .social-rodape {
        width: 19.93em;
    }

    .social-rodape p{
        font-size: 1em;
        padding-top: 1em;

    }

    .social-rodape img {
        width: 2.5em;
        height: auto;
    }
}

/* até 991px*/
@media screen and (max-width: 61.93em) {
    body {
        background-color: var(--red);
    }
}

/* até 767px */
@media screen and (max-width: 47.93em) {
    body {
        background-color: var(--blue);
    }
}

/* até 576px */
@media screen and (max-width: 36em) {
    body {
        background-color: var(--red);
    }
}